<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">博客</a>
      <a href="http://shalery.net" class="link-item" title="" id="tags-button">关于作者</a>
      <a href="mailto:support@shalery.com?subject=你好，我看到了你的博客" class="link-item" title="" id="contact-button">联系作者</a>
    </li>
  </ul>
</nav>
